*{
  margin: 0;
  padding: 0;
}
body {
  font-family: Lato;  
}
header{
   text-align: center;
   background: #333;
   color: white;
   padding: 0 0 5px;
}
.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}
header p{
  margin: 0 0 10px
}
ul{
  width: 50%;
  margin: 50px auto
}
li{
  list-style-type: none;
  border: 1px solid #CCC;
  padding: 10px; margin: 5px;
  text-align: center; 
}
/* 
================================================== */
.bg{height: calc(100vh - 125px);
display: flex; align-items: center; justify-content: center}
.bg-off{background: #000}
.bg-on{background: #FFF}

.switch-on{
  background: green;
  padding: 20px 50px; border: none;
  border-radius: 5px; color: #FFF; font-size: 18px; font-weight: 500;
}

.switch-off{
  background: red;
  padding: 20px 50px; border: none;
  border-radius: 5px; color: #FFF; font-size: 18px; font-weight: 500;
}